<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Product Categories</h2>
            <ol>
                <li *ngFor="let item of categories">{{item}}</li>
            </ol>
        </div>
        <div class="col">
            <h2>Select Category</h2>
            <select>
                <option>Select Category</option>
                <option [value]="item" *ngFor="let item of categories">{{item}}</option>
            </select>
        </div>
        <div class="col">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>Categories</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of categories">
                        <td>{{item}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <h2>NavBar</h2>
            <ul>
                <li *ngFor="let item of categories">
                    <a href="#">{{item}}</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <button class="btn btn-danger mb-2 w-100" *ngFor="let item of categories">
                {{item}}
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h2>Select Category</h2>
            <ul class="list-unstyled">
                <li *ngFor="let item of categories">
                    <input type="checkbox"> <label> {{item}}</label>
                </li>
            </ul>
        </div>
        <div class="col">
            <h2>Select Category</h2>
            <ul id="choose" class="list-unstyled">
                <li *ngFor="let item of categories">
                    <input type="checkbox"> <label> {{item}}</label>
                </li>
            </ul>
        </div>
    </div>
</div>