.bg-image {
    background-image: url("/assets/NetflixBackground.jpeg");
    background-size: cover;
    height: 1000px;
}
.bg-shade{
    height: 1000px;
    background-color: rgba(0,0,0,0.4);
}
main {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}