<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h2>Register Product</h2>
            <dl>
                <dt>Name</dt>
                <dd><input type="text" class="form-control"></dd>
                <dt>Price</dt>
                <dd><input type="text" class="form-control"></dd>
                <dt>Stock</dt>
                <dd class="form-switch"> <input type="checkbox" class="form-check-input">Available</dd>
                <dt>Shipped To</dt>
                <dd>
                    <select class="form-select">
                        <option>Delhi</option>
                        <option>Hydrabad</option>
                        <option>Kolkata</option>
                    </select>
                </dd>
            </dl>
        </div>
        <div class="col-9">
            <h2>Product Details</h2>
            <dl>
                <dt>Name</dt>
                <dd></dd>
                <dt>Price</dt>
                <dd></dd>
                <dt>Stock</dt>
                <dd></dd>
                <dt>Shipped To</dt>
                <dd></dd>
            </dl>
        </div>
    </div>
</div>